/* this css file will be included on the web views
	note: for email and other communications, you need to use inline css
 */


.control-label {
    display:none;
}

.controls {
    margin-left: 0px;
    padding-left: 0px;
}

.form-horizontal .controls {
    margin-left: 0px;
}

.form-horizontal textarea {
    width: 100%;
    height: 70px;
	padding:0px;
}


.friendmsg {
    font-family: "courier new";
    padding: 10px;
    font-size: 0.8em;
    background: #f4f4f4;
    margin-top: 4px;
}

.form-actions {
    margin: 0;
    padding: 0;
    text-align: left;
    border-top: none;
}

.form-horizontal .form-actions {
    padding: 0;
}

.validationError{
    color: red;
    padding: 10px;
    background: #ffeae4;
    border-radius: 10px;
    margin-bottom: 10px;

}

.form-horizontal .btn {
    position: relative;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-size: 1.2em;
    font-weight: normal;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px;
    padding-right: 14px;
    padding-left: 14px;
    font-family: Tahoma, sans-serif;
    background: #3ca52f;
    letter-spacing: 0.15em;
    box-shadow: 0px 2px 0px #000;

}


.form-horizontal .btn:hover {
    background: #d9d8dd;
    color: #000;
    text-decoration: none;
}
